{% extends './account_base.html' %}
{% block title %}Change user password{% endblock %}
{% block contents %}


<div class="login_container">
  <div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="w3-card w3-animate-zoom login_content">
            <div class="w3-animate-zoom header">
              <p class="site-name m-0">Change password</p>
            </div>
            <div class="form_content pt-5">
              <form action="" method="post">
                {% csrf_token %}
                {% if form.errors %}
                  {{ form.errors }}
                {% endif %}
                {% for field in form %}
                  <div class="form-div">
                    {{ field }}
                    <label for="">{{ field.label }}</label>
                  </div>
                {% endfor %}
                <div class="form_footer">
                  <button type="submit" name="button" class="btn">save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
