{% extends './account_base.html' %}
{% block title %}Login{% endblock %}
{% block contents %}

   <div class="logout_container">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="logout_contents">
              <p>Welcome back </p>
              <p>
                <a href="{% url 'login' %}"  class="bt">Please login again</a>
              </p>
            </div>
          </div>
        </div>
      </div>
   </div>

{% endblock %}
