{% extends './account_base.html'%}
{% block title %}Password Change Done{% endblock %}
{% block contents %}

  <div class="reset_password_done_page" style="margin-top:100px">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mb-3 alert alert-info">
            <p>
              Your password has beed changed. click <strong><a href="{% url 'accounts:login' %}">here</a></strong> to login
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
