{% extends './account_base.html'%}
{% block title %}Password Reset Confirm{% endblock %}
{% block contents %}

  <div class="login_container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="w3-card login_content">
              <div class="w3-animate-zoom header">
                <p class="site-name m-0">STOCK MANAGER Login</p>
              </div>
              <h2>Reset Password</h2>
              <form method="post" action="">
                {% csrf_token %}
                {{ for field in form }}
                  <div class="form-div">
                    {{ field }}
                  </div>
                {% endfor %}
                <button class="bt btn-block" type="submit" name="button">Reset Password</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
