{% extends './account_base.html'%}
{% block title %}Password Reset Confirm{% endblock %}
{% block contents %}

  <div class="password_reset_confirm_container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="w3-card password_reset_confirm_form">
              <h2>Reset Password</h2>
              <form method="post" action="">
                {% csrf_token %}
                {{ form }}
                <button class="bt btn-block" type="submit" name="button">Reset Password</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
