{% extends './base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Dashboard{% endblock%}
{% block contents %}
<div class="outer_container">
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible w3-animate-right fade show d-flex justify-content-between" role="alert">
            {{ message }}
            <button type="button" class="btn" data-bs-dismiss="alert" aria-label="Close"><i class="fas fa-times"></i></button>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="container">
    {% ifequal request.user.profile.role_name 'manager' %}
    <div class="row mb-5 mt-n2 statistics">
      <div class="col-md-3  stat">
        <div class="statistic-box">
          <picture>
            <img src="{% static 'images/chart1.png' %}" alt="">
          </picture>
          <div class="statistic">
            <h1>{% trans 'Total types of items' %}</h1>
            <p>{% if total_items_type %}{% if total_items_type < 10 %}0{{total_items_type}}{% else %}{{total_items_typetotal_system_users}}{%endif%}{% else %}00{%endif%}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3  stat">
        <div class="statistic-box">
          <picture>
            <img src="{% static 'images/chart2.png' %}" alt="">
          </picture>
          <div class="statistic stat">
            <h1>{% trans 'Total requests' %}</h1>
            <p>{% if total_requests %}{% if total_requests < 10 %}0{{total_requests}}{% else %}{{total_requests}}{%endif%}{% else %}00{%endif%}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3  stat">
        <div class="statistic-box">
          <picture>
            <img src="{% static 'images/chart3.png' %}" alt="">
          </picture>
          <div class="statistic">
            <h1>{% trans 'Approved request' %}</h1>
            <p>{% if total_approved_request %}{% if total_approved_request < 10 %}0{{total_approved_request}}{% else %}{{total_approved_request}}{%endif%}{% else %}00{%endif%}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="statistic-box">
          <picture>
            <img src="{% static 'images/chart4.png' %}" alt="">
          </picture>
          <div class="statistic">
            <h1>{% trans 'System users total' %}</h1>
            <p>{% if total_system_users %}{% if total_system_users < 10 %}0{{total_system_users}}{% else %}{{total_system_users}}{%endif%}{% else %}00{%endif%}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12 first-table">
        <div class="my-card p-3">
          <div class="table-responsive">
            <table id="mytable" class="table table-bordered m-0 p-0">
              <thead>
                <tr>
                  <th>S/No</th>
                  <th>{% trans 'Item name' %}</th>
                  <th>{% trans 'Total quantity' %}</th>
                  <th>{% trans 'Used quantity' %}</th>
                  <th>{% trans 'Available quantity' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for item_data in items_data %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ item_data.item.name }}</td>
                  <td>{{ item_data.item.quantity }}</td>
                  <td>{{ item_data.used_quantity }}</td>
                  <td>{{ item_data.available_quantity }}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5" class="table-empty">{% trans 'No items added yet' %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% else %}
      <div class="row mb-5 mt-n2 statistics">
        <div class="col-md-6  stat">
          <div class="statistic-box">
            <picture>
              <img src="{% static 'images/chart1.png' %}" alt="">
            </picture>
            <div class="statistic stat">
              <h1>{% trans 'Total requests made' %}</h1>
              <p>{% if user_total_requests %}{% if user_total_requests < 10 %}0{{user_total_requests}}{% else %}{{user_total_requests}}{%endif%}{% else %}00{%endif%}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6  stat">
          <div class="statistic-box">
            <picture>
              <img src="{% static 'images/chart2.png' %}" alt="">
            </picture>
            <div class="statistic">
              <h1>{% trans 'Approved requests' %}</h1>
              <p>{% if user_total_approved_request %}{% if user_total_approved_request < 10 %}0{{user_total_approved_request}}{% else %}{{user_total_approved_request}}{%endif%}{% else %}00{%endif%}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="my-card p-3">
            <div class="table-responsive">
              <table id="mytable" class="table table-bordered p-0 m-0">
                <thead>
                  <tr>
                    <th>S/No</th>
                    <th>Item name</th>
                    <th>Quantity</th>
                    <th>Returnable</th>
                    <th>Destination</th>
                    <th>Project name</th>
                    <th>Date requested</th>
                    <th>Request status</th>
                    <th>Date approved</th>
                    <th>Date returned</th>
                  </tr>
                </thead>
                <tbody>
                  {% for request_made in requests_made %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ request_made.item_name }}</td>
                    <td>{{ request_made.quantity }}</td>
                    <td>{% if request_made.returnable %}Yes{% else %}No{% endif %}</td>
                    <td>{{ request_made.destination }}</td>
                    <td>{{ request_made.project_name|upper }}</td>
                    <td>{{ request_made.requested_date }}</td>
                    <td>{% if request_made.request_status %}<p class="alert alert-success p-0 text-center">Approved</p>{% else %}<p class="alert alert-warning p-0 text-center">Pending</p>{% endif %}</td>
                    <td>{% if request_made.approved_date %}{{ request_made.approved_date }}{% else %}-{% endif %}</td>
                    <td>{% if request_made.returned_date %}{{ request_made.returned_date }}{% else %}-{% endif %}</td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td class="table-empty" colspan="10">You have not made any request yet</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endifequal %}
    </div>
  </div>
</div>
{% endblock %}

{% block blockjs %}
  <script type="text/javascript">
    $(document).ready( function () {
          $('#mytable').DataTable();
      } );
  </script>
{% endblock %}
